body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 15px;
}

a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 15px;
  border-radius: 4px;
  font-weight: bold;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 0;
}

a:hover {
  opacity: 0.8;
}

.active {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

.log-out {
  font-size: 12px;
  font-weight: bold;
  color: rgb(74, 127, 207);
}

.right {
  float: right;
}
figure {
 width: 100%; /* Ширина области */
 height: 400px; /* Высота области */
 margin: 0; /* Обнуляем отступы */
}
figure img { 
 width: 100%; /* Ширина изображений */
 height: 100%; /* Высота изображении */
 object-fit: cover; /* Вписываем фотографию в область */
 filter: brightness(25%);
}

form{
  margin: 20px;
}

.choose {
  height: 15em;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

select{
  height: 50px;
  width: 160px;
  border-radius: 4px;
}

.btn-search{
  height: 50px;
  width: 100px;
  background-color: dodgerblue;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
.btn-search:hover{
  opacity: 0.8;
}

h1, h2{
  margin-top: 50px;
  text-align: center;
}
thead{
  font-weight: bold;
  border: solid 3px;
	padding: 5px;
}
td {
	border: solid 1px;
	padding: 5px;
}
table{
  margin: auto;
  width: 90%;
	border-collapse: collapse;
	border: 3px solid black;
  text-align: center;
}

footer{
  padding: 10px 15px;
  margin-top: 100px;
  background-color: #f1f1f1;
}
/*
.change{
  overflow: hidden;
  background-color: rgb(238, 84, 64);
  color: white;
  font-weight: bold;
  margin: 20px;
}

.save{
  overflow: hidden;
  background-color: rgb(47, 180, 35);
  color: white;
  font-weight: bold;
  margin: 20px;
}

.delete{
  overflow: hidden;
  background-color: rgb(238, 84, 64);
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

label{
margin: 5px;
font-weight: bold;
}

.day-of-week{
  margin-right: 70px;
}

.lessons{
  margin-right: 68px;
}

.groups{
  margin-right: 118px;
}

.rooms{
  margin-right: 33px;
}

.change-schedule{
  margin: 20px;
}

input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

.btn-log-in{
  background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    font-weight: bold;
}

.btn-log-in:hover {
  opacity: 0.8;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

span.psw {
  float: right;
  padding-top: 16px;
}

.room-number{
  height: 50px;
  width: 150px;
  border-radius: 4px;
}*/